@{
    ViewBag.Title = "Index";
}

<h2>Afisare articole</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<br />
<br />
<div>    
    <h2>Articole</h2>
    <form method="GET">
        <div class="input-group mb-3" style="translate:980px -50px;">
            <button id="Buton" class="btn btn-outline-success" type="submit" name="Sort1" style="color:white">Sorteaza alfabetic</button>
        </div>
    </form>

    <form method="GET">
        <div class="input-group mb-3" style="translate:1136px -104px;">
            <button id="Buton" class="btn btn-outline-success" type="submit" name="Sort2" style="color:white">Sorteaza dupa data</button>
        </div>
    </form>
</div>


<!--<br />-->
@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button id="Buton" class="btn btn-outline-success" type="submit" style="color:white">Search</button>
    </div>
</form>

@foreach (ProiectASP.Models.Article article in ViewBag.Articles)
{
    <div class="card">

        @Html.Partial("ArticleInfo", article )


        <a id="Buton" class="btn btn-success" href="/Articles/Show/@article.Id">Afisare articol</a>

    </div>

    <br />
    <br />
}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>